#contato{
    
    text-align: center;  
}




#email7{
    margin-left: 25.6%;
    margin-right: 25.6%;
    
    width: 48%;
}
#email2{
        text-align: center;


}
#email3{
     margin-left: 25.6%;
    margin-right: 25.6%;
    
    width: 48%;
    height: 200px;
    
    
}

#enviar{
    margin-left: 25.6%;
}
bold{

  
    
}